.profile__info {
  display: grid;
  grid-template-columns: max-content 24px;
  grid-template-areas:
    "name edit"
    "activity activity";
  grid-column-gap: 6px;
  margin: 16px auto 36px;
}

@media all and (min-width: 950px) {
  .profile__info {
    margin: 0 0 0 30px;
    grid-column-gap: 17px;
  }
}
