@import url(./__avatar-edit/profile__avatar_edit.css);
@import url(./__activity/profile__activity.css);
@import url(./__add-btn/profile__add-btn.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-btn/profile__edit-btn.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);

.profile {
  display: flex;
  flex-direction: column;
  max-width: 882px;
  align-items: center;
  margin: 0 auto 36px;
  padding: 0 19px 0;
}

@media all and (min-width: 950px) {
  .profile {
    flex-direction: row;
    margin: 0 auto 50px;
  }
}


@media all and (min-width: 1280px) {
  .profile {
    margin: 0 auto 50px;
  }
}

