.popup__picture {
  width: 120px;
  height: 120px;
  margin: 60px auto 32px;
  object-fit: contain;
  object-position: center;
}

@media all and (max-width: 480px) {
  .popup__picture {
    margin: 50px auto 40px;
  }
}
