@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);
@import url(./__logout-btn/header__logout-btn.css);
@import url(./__container/header__container.css);
@import url(./__user-email/header__user-email.css);

.header {
  align-items: center;
  max-width: 882px;
  display: flex;
  justify-content: space-between;
  padding: 28px 0 31.6px;
  margin: 0 auto 42px;
  border-bottom: 1px solid rgba(84,84,84, 0.7)
}

@media all and (min-width: 1280px) {
  .header {
    padding: 45px 0 40.6px;
    margin: 0 auto 40px;
  }
}
