.form__input {
  background-color: #000000;
  color: #CCCCCC;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
