@import url(./_photo/popup_photo.css);
@import url(./__title/popup__title.css);
@import url(./__title/_wihout-unput/popup__title_wihout-unput.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_disabled.css);
@import url(./__form-name/popup__form-name.css);
@import url(./__form-activity/popup__form-activity.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__form-image-title/popup__form-image-title.css);
@import url(./__form-image-link/popup__form-image-link.css);
@import url(./__image/popup__image.css);
@import url(./__image-subscription/popup__image-subscription.css);
@import url(./__container/popup__container.css);
@import url(./_add-card/popup_add-card.css);
@import url(./__form/popup__form.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__form-field/popup__form-field.css);
@import url(./__wrapper/popup__wrapper.css);
@import url(./__picture/popup__picture.css);
@import url(./__subscription/popup__subscription.css);
@import url(./__close-button/_up/popup__close-button_up.css);


.popup {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
}
